<launch>
	<rosparam file = "$(find modellazione)/config/mission.yaml"/>	
	
	<node name ="model"   pkg="modellazione" type="model" output="screen"/>
	<node name="ahrs" 	  pkg="modellazione" type="ahrs_sensor" output="screen"/>
	<node name="depth" 	  pkg="modellazione" type="depth_sensor" output="screen"/>
	<node name="gps" 	  pkg="modellazione" type="gps_sensor" output="screen"/>
	<node name="usbl"	  pkg="modellazione" type="usbl_sensor" output="screen"/>
	<node name="dvl" 	  pkg="modellazione" type="dvl_sensor" output="screen"/>
	<node name="control"  pkg="modellazione" type="fake_control" output="screen"/>
	<node name="nav" 	  pkg="modellazione" type="fake_nav" output="screen"/>

	<node name="lin_x"      pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_1/x,/state_real/ni_1/x,/state_real/eta_1_dot_dot/x"/>
  	<node name="lin_y"      pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_1/y,/state_real/ni_1/y,/state_real/eta_1_dot_dot/y"/>
  	<node name="lin_z"      pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_1/z,/state_real/ni_1/z,/state_real/eta_1_dot_dot/z"/>
  	<node name="ang_x"      pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_2/x,/state_real/ni_2/x"/>
  	<node name="ang_y"      pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_2/y,/state_real/ni_2/y"/>
    <node name="ang_z"      pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_2/z,/state_real/ni_2/z"/>

</launch>
	